html, body {
    height: 0%;
    font-family:verdana,arial,sans-serif;
    color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
}

/* canvas div to contain both canvas and floating div */
#canvas {
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 1;
}

/* the real canvas */
canvas {
    z-index: 2;
    position: absolute;
    top: 0;
}

.floating {
    background-color: white;
    margin: 10px 0px 0px 10px;
    /*opacity: 0.8;*/
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
}
#floating-zone {
    position: absolute;
    z-index: 99;
}
.f-list {
/*    margin: 10px;*/
    padding: 10px 0px 10px 0px;
}
.f-item {
    
}
.f-item-content {
/*    margin: 10px;*/
    padding: 10px 10px 3px 10px;
}
.md-button.md-default-theme.md-primary.md-fab.red {
    background-color: red;
}

.md-button.md-default-theme.md-primary.md-fab.red:hover {
    background-color: red;
}
.md-button.md-default-theme.md-primary.md-fab.red:active {
    background-color: red;
}
