html, body {
    height: 0%;
    font-family:verdana,arial,sans-serif;
    color: #ffffff;
    background: url('../images/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;

}

.main {
    text-align: center;
}

.search-box {
    /*width: 1000px;*/
}

<<<<<<< HEAD
.input {
    width: 600px;
=======

#floating-zone {
    position: absolute;
    z-index: 99;
}

#floating-zone .floating {
    background-color: black;
    margin: 10px 0px 0px 10px;
    padding: 0px 5px;
    /*opacity: 0.8;*/
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;

    /*height: 300px;*/
    /*width: 300px;*/
}

#floating-zone .floating:hover {
    background-color: rgba(255, 255, 255, 1);
}

#floating-zone .floating.sub {
    background-color: rgba(255, 255, 255, 0);
    margin: 3px 0px 0px 10px;

    > button {
        color: white;
    }
}
#floating-zone .floating.sub:hover {
    background-color: rgba(255, 255, 255, 0);
}

.f-list {
/*    margin: 10px;*/
    padding: 10px 0px 10px 0px;
>>>>>>> dropzone
}

.list {
    width: 800px;
    
}
<<<<<<< HEAD
=======
.f-item-content {
/*    margin: 10px;*/
    /*padding: 10px 10px 3px 10px;*/
    padding: 0px;
}
.md-button.md-default-theme.md-primary.md-fab.red {
    background-color: red;
}
>>>>>>> dropSurf

md-card {
    background: rgba(255, 255, 255, 0.3); 
    height: 200px;
    font-family: "Verdana";
}

div.md-tile-left {
    text-align: center;
}


<<<<<<< HEAD
.welcome {
    color: white;
}
=======
#dropzone-x {
    height: 10vh;
    width: 15vw;
    border: 2px dashed #0087F7;
    color: black;
    padding: 5px;
    margin: 10px 10px;
    text-align: center;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#dropzone-x.xdrag {
    background-color: black;
}

#loading-bar {
    height: 2px;
}

md-progress-linear#loading-bar .md-container {
    height: 4px;
}

.md-button.md-raised.btn1 {
    color: #000000;
    margin: 0px 0px 6px 0px;
}

md-list {
    padding: 5px 0px 0px 0px;
}





































>>>>>>> dropzone
