<md-dialog aria-label="Mango (Fruit)">
    <md-subheader class="md-sticky-no-effect">Chose a CSG</md-subheader>
    <div layout="row" layout-align="space-around center" layout-padding layout-margin>
        <md-button  class="md-fab  md-primary" ng-click="choose(0)">
            &#8745
        </md-button>
        <md-button  class="md-fab md-primary" ng-click="choose(1)">
            D
        </md-button>
        <md-button  class="md-fab  md-primary" ng-click="choose(2)">
            &#8746
        </md-button>
    </div>
</md-dialog>

