<div class="content">
    <!-- WHOLE CANVAS -->
    <div id="canvas">
        <div id="toggle-btn">
        
        </div>
        <!-- FLOATING ZONE -->
        <div id="floating-zone">
            <!-- INPUT ZONE -->
            <div class="floating" layout="column" layout-align="center center">
                
                <md-progress-linear class="loading" md-mode="indeterminate" ng-show="loading"></md-progress-linear>
                <div flex layout="row" layout-align="center center" layout-margin>
                    <md-input-container flex="50">
                        <input ng-model="input.name">
                        <label>ID</label>
                    </md-input-container>
                    <md-button class="md-raised md-primary" flex ng-click="fetchPdb(input.name)">PDB</md-button>
                    <md-button class="md-raised md-primary md-hue-1" flex ng-click="fetchSurf(input.name)">SURF</md-button>
                </div>
            </div>
            <!-- STRUCTURES -->
            <div class="floating">
                <div flex layout="row" layout-align="space-around center" layout-padding>
                    <div flex ng-repeat="pdb in pdbList"  class="md-tile-left">

                        <span ng-drag="true" ng-drag-data="pdb.id" ng-drag-success="onDragComplete($data, $event)" ng-center-anchor="true" class="icon-embed"></span>
                        <md-button  ng-drop="true" ng-drop-success="onDropComplete($data,$event, pdb.id)"  class="md-fab" ng-class="pdb.class" ng-click="pdbToggle(pdb)">
                            {{pdb.id}}
                        </md-button>

                    </div>
                </div>
            </div>
            
            <!-- SURFACES -->
            <div class="floating">
                <div flex layout="row" layout-align="space-around center" layout-padding>
                    <div flex ng-repeat="surf in surfList"  class="md-tile-left">

                        <span ng-drag="true" ng-drag-data="surf.id" ng-drag-success="onDragComplete($data, $event)" ng-center-anchor="true" class="icon-embed"></span>
                        <md-button  ng-drop="true" ng-drop-success="onDropComplete($data,$event, surf.id)"  class="md-fab" ng-class="surf.class" ng-click="surfToggle(pdb)">
                            {{surf.id}}
                        </md-button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>