<div class="content">
  <div id="top">
    <md-button class="md-icon-button" aria-label="Settings">
      <ng-md-icon icon="view_headline" style="fill: #ffffff" size="50"></ng-md-icon> 
    </md-button>
     <h1 style="font-size: 60px; text-align:center" class="md-display-4 welcome">
          Welcome back<br>John
        </h1>
  </div>

  <div layout="column" layout-align="center center" class="main">

       
         
     <div layout="row" layout-align="center center" class="input">
       <div flex="88">
         <md-autocomplete
                   ng-disabled="ctrl.isDisabled"
                   md-no-cache="ctrl.noCache"
                   md-selected-item="ctrl.selectedItem"
                   md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                   md-search-text="ctrl.searchText"
                   md-selected-item-change="ctrl.selectedItemChange(item)"
                   md-items="item in ctrl.querySearch(ctrl.searchText)"
                   md-item-text="item.display"
                   placeholder="What do you like to do?">
                 <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
         </md-autocomplete>

       </div>
       <div flex="10">
           <md-button class="md-raised" aria-label="Settings">
             <ng-md-icon icon="search" style="fill: #ff0000" size="24"></ng-md-icon> 
           </md-button>
       </div>
     </div>

     <br>
      <div class="list personal" flex>
        <h1 style="font-size: 40px">Personal</h1>

            <md-card>
              <md-card-content>
                <h2 class="md-title">Bing</h2>
    <canvas id="myChart" width="640" height="100"></canvas>              </md-card-content>
            </md-card>
      </div>

      <br>
      <div class="list work" flex>
        <h1 style="font-size: 40px">Work</h1>
            <md-card >
             <h2 style="text-align:center" class="md-title">Fast Response <span style="font-size: 12px; text-align: right">{{ctrl.grannyDetail}}</span></h2>

              <md-card-content>
               <md-grid-list
                      md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
                      md-row-height-gt-md="1:1" md-row-height="4:3"
                      md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
                    <md-grid-tile
                        ng-repeat="tile in ctrl.colorTiles"
                        ng-style="{
                          'background': tile.color
                        }",
                        ng-mouseover="ctrl.grannize(tile)"
                        md-colspan-gt-sm="{{tile.colspan}}"
                        md-rowspan-gt-sm="{{tile.rowspan}}">
                    </md-grid-tile>
                  </md-grid-list>
              </md-card-content>
            </md-card>
            <md-card>
              <md-card-content>
                <h2 class="md-title">Broadcast</h2>


                <div style="color:white" layout layout-sm="column">
                      <md-progress-linear md-mode="indeterminate" id="progress" ng-show="ctrl.progressing"></md-progress-linear>
                       <md-input-container flex="33">
                         <label style="color:white">Channel</label>
                         <input style="color:white" ng-model="ctrl.channelAll">
                       </md-input-container>
                       <md-input-container flex="66">
                         <label style="color:white">Message</label>
                         <input style="color:white" ng-model="ctrl.messageAll">
                       </md-input-container>
                       <md-input-container flex="11">
                        <md-button ng-click="ctrl.broadcast(ctrl.messageAll)" class="md-icon-button" aria-label="Settings">
                             <ng-md-icon icon="send" style="fill: #ffffff" size="30"></ng-md-icon> 
                           </md-button>
                       </md-input-container>
                     </div>
              </md-card-content>
            </md-card>
          
      </div>
  </div>
</div>