<div class="content">
  <!-- WHOLE CANVAS -->
  <div id="canvas">
    <!-- FLOATING ZONE -->
    <div id="floating" layout="column" layout-align="center center">
      <div flex layout="row" layout-align="center center" layout-margin>
        <md-input-container flex ="50">
          <input ng-model="input.name">
          <label>ID</label>
        </md-input-container>
        <md-button class="md-raised md-primary" flex ng-click="fetchPdb(input.name)">PDB</md-button>
        <md-button class="md-raised md-primary md-hue-1" flex ng-click="fetchSurf(input.name)">SURF</md-button>
      </div>
    </div>
  </div>
</div>
